.inputForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.inputForm button{
    width: 150px;
    background-color: #000000;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.inputForm input{
    height: 30px;
}
.pincodeData{
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
}
.pincodeDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
 
    
}
.mainDiv{
    display: flex;
    flex-direction: column;
    
}